
.card{
    display: flex;
}

.center{
    justify-content: flex-end;
}

.around{
    justify-content: space-around;
}

.desc2{
    display: flex;
    justify-content: center;
}
.desc1{
    display: flex;
    justify-content: flex-end;
}

.desc3{
    display: flex;
    justify-content: flex-start;
}